<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.yy.domain.User">
    <!--@mbg.generated-->
    <!--@Table t_user-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, `password`
  </sql>

  <select id="getUserRoleInfo" resultType="java.lang.String">
        select
            name
        from t_role
        where id in(
            select
                rid
            from t_role_user
            where uid in(
                select
                    id
                from t_user
                where username=#{principle}
            )
        )
  </select>
  <select id="getUserPremonitionsInfo" resultType="java.lang.String">
        select
            name
        from t_permission
        where id in(
            select
                pid
            from t_role_ps
            where rid in(
                select
                    id
                from t_role
                where name in
                <foreach collection="roles" item="name" open="(" separator="," close=")">
                    ${name}
                </foreach>

            )
        )
  </select>


</mapper>